<section class="gradient-custom">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center vh-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card" style="border-radius: 15px">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Crie a sua conta!</h2>

            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
              <div class="form-outline mb-4">
                <label class="form-label" for="InsertName">Nome Completo</label>
                <input
                  type="text"
                  formControlName="name"
                  id="InsertName"
                  name="LabelName"
                  placeholder="Insira o Nome Completo..."
                  class="form-control form-control-lg"
                />
                <div
                  *ngIf="
                    signupForm.get('name')?.invalid &&
                    (signupForm.get('name')?.dirty ||
                      signupForm.get('name')?.touched)
                  "
                >
                  <div class="text-danger pt-1">Nome é obrigatório</div>
                </div>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="InsertEmail">Email</label>
                <input
                  type="text"
                  formControlName="email"
                  id="InsertEmail"
                  name="LabelEmail"
                  placeholder="Ex:. exemplo@exemplo.com"
                  class="form-control form-control-lg"
                />
                <div
                  *ngIf="
                    signupForm.get('email')?.invalid &&
                    (signupForm.get('email')?.dirty ||
                      signupForm.get('email')?.touched)
                  "
                >
                  <div class="text-danger pt-1">
                    Por favor insira um e-mail válido
                  </div>
                </div>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="typePasswordX">Senha</label>
                <div class="input-group">
                  <input
                    type="{{ showPassword ? 'text' : 'password' }}"
                    id="typePasswordX"
                    class="form-control form-control-lg"
                    formControlName="password"
                    required
                    placeholder="Inserir Senha"
                  />
                  <button
                    type="button"
                    class="btn btn-outline-dark"
                    (click)="togglePasswordVisibility()"
                  >
                    <i
                      class="bi"
                      [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
                    ></i>
                  </button>
                </div>
                <div
                  *ngIf="
                    signupForm.get('password')?.invalid &&
                    (signupForm.get('password')?.dirty ||
                      signupForm.get('password')?.touched)
                  "
                >
                  <div class="text-danger pt-1">
                    Por favor insira uma senha entre 6 e 20 caracteres
                  </div>
                </div>
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="confirmPasswordInput"
                  >Confirmação de senha</label
                >
                <input
                  type="{{ showPassword ? 'text' : 'password' }}"
                  id="confirmPasswordInput"
                  class="form-control form-control-lg"
                  formControlName="passwordConfirmation"
                  required
                  placeholder="Confirmar Senha"
                />

                <!-- Adicionando mensagem de erro para senhas não coincidentes -->
                <div
                  *ngIf="
                    signupForm.hasError('passwordMismatch') &&
                    (signupForm.get('passwordConfirmation')?.dirty ||
                      signupForm.get('passwordConfirmation')?.touched)
                  "
                >
                  <div class="text-danger pt-1">
                    As senhas precisam ser iguais
                  </div>
                </div>
              </div>

              <div
                *ngIf="showConfirmationMessage"
                class="alert alert-success mt-3 text-center"
                role="alert"
              >
                Cadastro realizado com sucesso!
              </div>

              <div class="d-flex justify-content-center">
                <button
                  id="cadastroBtn"
                  type="submit"
                  [disabled]="!signupForm.valid"
                  class="btn btn-success btn-block btn-lg text-body-white mt-3"
                >
                  Cadastrar
                </button>
              </div>
            </form>
            <p class="text-center text-muted mt-5 mb-0">
              Já tem uma conta?
              <a routerLink="/" class="fw-bold text-body"><u>Faça Login</u></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
