<h1 class="text-center mt-4 mb-5">Usuários</h1>

<table class="table">
  
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Função</th>
      <th>Senha</th>
      <th>Editar</th>
      <th>Excluir</th>
    </tr>
  </thead>
  <tbody>
    <!-- Exemplo de item da lista -->
    <tr *ngFor="let user of user">
      <td>
        <div class="nome" *ngIf="user.nome">
          <span>{{ user.nome }}</span>
        </div>
      </td>
      <td>
        <div class="email" *ngIf="user.email">
          <span>{{ user.email }}</span>
        </div>
      </td>
      <td>
        <div class="funcao" *ngIf="user.funcao">
          <span>{{ user.funcao }}</span>
        </div>
      </td>
      <td>
        <div class="senha" *ngIf="user.senha">
          <span>{{ user.senha }}</span>
        </div>
      </td>
      <td>
        <button class="btn btn-primary" (click)="editarUsuario(user)">
          <i class="fas fa-pencil-alt"></i> Editar
        </button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deletarUsuario(user)">
          <i class="fas fa-times"></i> Excluir
        </button>
      </td>
    </tr>
    
  </tbody>
</table>
<div style="display: flex; justify-content: center; max-width: 350px; margin: 0 auto;" class="mb-3" >

  <button class="btn btn-success" style="width: 110px;  display:flex; justify-content: center; " routerLink="/app/addUser">
  
  <i class="bi bi-plus-square-fill"></i>
</button>
