<div class="container">
<div class="mt-5 cls-limit-table">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title text-center">Usuários</h5>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Função</th>
            <th>Senha</th>
            <th class="text-center">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of user">
            <td>
              <div class="nome" *ngIf="user.nome">
                <span>{{ user.nome }}</span>
              </div>
            </td>
            <td>
              <div class="email" *ngIf="user.email">
                <span>{{ user.email }}</span>
              </div>
            </td>
            <td>
              <div class="funcao" *ngIf="user.funcao">
                <span>{{ user.funcao }}</span>
              </div>
            </td>
            <td>
              <div class="senha" *ngIf="user.senha">
                <span>{{ user.senha }}</span>
              </div>
            </td>
            <td class="text-center">
              <button class="btn btn-warning btn-acao" (click)="editarUsuario(user)">
                <i class="bi bi-pencil-fill text-white"></i>
              </button>
              <button class="btn btn-danger btn-acao" style="margin-left: 10px;" (click)="deletarUsuario(user)">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
<div class="d-flex justify-content-center mt-3">
  <button class="btn btn-success" id="nova-tarefa" routerLink="/app/addUser">
    Novo Usuário <i class="bi bi-plus-circle"></i>
  </button>
</div>

