<h1 class="text-center mt-5 mb-5">Usuários</h1>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col" class="coluna-tabela">Nome</th>
      <th scope="col" class="coluna-tabela">Email</th>
      <th scope="col" class="coluna-tabela">Senha</th>
      <th scope="col" class="coluna-tabela">Função</th>
      <th scope="col" class="coluna-tabela">Status</th>
      <th scope="col" class="text-center coluna-tabela">Ação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of user">
      <td>
        <!-- Usando `ngClass` para alternar a cor de fundo e `ngDisabled` para desabilitar o input -->
        <input [(ngModel)]="user.nome" class="form-control" [ngClass]="{
            'invisible-color': !user.editing,
            'visible-color': user.editing
          }" [disabled]="!user.editing" />
      </td>
      <td>
        <input [(ngModel)]="user.email" class="form-control" [ngClass]="{
            'invisible-color': !user.editing,
            'visible-color': user.editing
          }" [disabled]="!user.editing" />
      </td>
      <td>
        <input [(ngModel)]="user.senha" type="password" class="form-control" [ngClass]="{
            'invisible-color': !user.editing,
            'visible-color': user.editing
          }" [disabled]="!user.editing" />
      </td>
      <td>
        <select [(ngModel)]="user.funcao" class="form-select" [ngClass]="{
            'invisible-color': !user.editing,
            'visible-color': user.editing
          }" [disabled]="!user.editing">
          <option value="Engenheiro de FE">Engenheiro de FE</option>
          <option value="Engenheiro de BE">Engenheiro de BE</option>
          <option value="Analista de dados">Analista de dados</option>
          <option value="Líder Técnico">Líder Técnico</option>
        </select>
      </td>
      <td>
        <input [(ngModel)]="user.status" type="status" class="invisible-color"
          [disabled]="!user.editing || user.editing" />
      </td>
      <td class="justify-content-center d-flex">
        <button class="btn btn-acao" style="margin-right: 10px" [ngClass]="{
                'btn-danger': user.status === 'Ativo',
                'btn-success': user.status === 'Inativo',
              }" (click)="botaoAlterarStatus(user)">
          {{ user.status === "Ativo" ? "Desativar" : "Ativar" }}
        </button>
        <button class="btn btn-acao" style="margin-right: 10px" [class.btn-warning]="!user.editing"
          [class.btn-success]="user.editing" (click)="editarUsuario(user)">
          {{ user.editing ? 'Salvar' : '' }}
          <i class="bi bi-pencil-fill text-white" *ngIf="!user.editing"></i>
        </button>
        <button class="btn btn-danger btn-acao" (click)="deletarUsuario(user)">
          <i class="bi bi-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-center">
  <button class="btn btn-success" id="nova-Usuario" (click)="incluirUsuario()">
    Novo Usuário <i class="bi bi-plus-circle"></i>
  </button>
</div>